html,body,h1{
    margin: 0;
    padding: 0;
}


nav{
    width: 100%;
    height: 70px;

    display: flex;
    position: fixed;
    top: 0;
    
    justify-content: space-between;

    background-color: blue;
}
.left-nav{
    padding-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-nav{
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo{
    height: 40px;
    mix-blend-mode: multiply;  /* removes background form logo */
}
.logo-title{
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
}

button{
    margin: 10px;
}

/*Navbar css above*/

.main{
    width: 100%;
    height: 700px;

    background-color: brown;
}
.price{
    width: 100%;
    height: 550px;

    background-color: blueviolet;
}
.flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 65px 0px 65px 0px ;

    align-items: center;
    justify-content: center;

    background-color: brown;
}




/*footer css below*/
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.footer-container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 85px 20px 30px 20px;
}
.upper-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flinks{
    flex-grow: 1;
    max-width: 150px;
    width: 100%;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.flinks > h2{
    font-size: 24px;
    text-decoration: underline;
}
.flinks > a{

    color: white;
    text-decoration:none;
    margin: 8px 0px 8px 0px;
}

a:hover{
    text-decoration: underline;
}
.lower-footer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Footer Logo CSS */


.flogo{
    position: relative;
    height: 40px;
    width: 40px;

    top: 50px;
    margin: 0px 35px 0px 35px;
    
}

.logo-seperator{
    position: relative;
    padding-top: 40px;
    top: 25px;
}
